In [7]:
import pandas as pd
data = pd.read_csv('Sirinformation.csv', delimiter=" ")

In [8]:
pedestrian_ids = data['pedestrianId'].unique()
ids = data['groupId-PID5'].unique()

In [10]:
len(pedestrian_ids)

1000

In [17]:
i_count = 0
s_count = 0
r_count = 0
latest = 0
for pid in pedestrian_ids:
    simtime_group = data[data['pedestrianId'] == pid][['simTime', 'groupId-PID5']].values
    last = [0, 0]
    for (st, g) in simtime_group:
        if st > last[0]:
            last = list((st, g))
    if last[0] > latest:
        latest = last[0]
    last_state = last[-1]
    if last_state == 1:
        s_count += 1
    elif last_state == 0:
        i_count += 1
    elif last_state == 3:
        r_count += 1

print(s_count, i_count, r_count)

812 0 188

In [13]:
latest

272.4

In [16]:
data[len(data)-2:]

        pedestrianId  simTime  groupId-PID5
467728           952    272.4             3
467729           988    272.4             3

In [28]:
data[155425:155428]

        pedestrianId  simTime  groupId-PID5
155425           366     90.6             3
155426           373     90.6             1
155427           378     90.6             1